<?php defined('BASEPATH') OR exit('No direct script access allowed');?><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="section">
        <div class="video-container">
            <div class="color-overlay"></div>
            <video autoplay loop muted>"
                <source src="D.mp4" type="video/mp4">
            </video>            
        </div>       
        
            <div class = "search_box">
                <div><p class = "connect">Connect to Spotify</p></div>
                <div><p class = "slogan">Find your city. Check your weather. Listen to our music.</p></div>
                <input type="text" name ="box" placeholder="Search places">
                <i class="fas fa-search"></i>
            </div>      
    </div>
</body>
</html>