* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Search-Font;
    src: url(./font/BreeSerif.otf);
}

h2{
    color: white;
    padding-bottom: 12px ;
}

.topnav {
    font-family: Search-Font;
    padding-left: 200px;
    padding-top: 30px;
}

#Spotify{
    color: #61bd4f;
}

#myVideo{
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: fit-content;
    height: fit-content;
    z-index: -1000;
    overflow: hidden;
}

input[type="text"] {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    outline:none;
    padding: 15px 10px;
    border-color: red;
    background-color: unset;
    color: red;
    transition:0.6s ease-in-out;
    font-family: Search-Font;
}

input[type="text"]:focus{
    width:60%; 
}

.demo_dropdown {
    width: 60%;
    display: none;
    position: absolute;
    background-color: unset;
    min-width: 230px;
    overflow: auto;
    border: 1px solid unset;
    z-index: 1;
}